<!-- Calendar Add/Update/Delete event modal-->
<div class="modal-dialog sidebar-lg">
  <div class="modal-content p-0">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="toggleEventSidebar()">
      ×
    </button>
    <div class="modal-header mb-1">
      <h5 class="modal-title">{{ isDataEmpty === true ? 'Ajouter' : 'Modifier' }} l'évenement</h5>
    </div>
    <div class="modal-body flex-grow-1 pb-sm-0 pb-3">
      <form
        class="event-form needs-validation"
        (ngSubmit)="(eventForm.form.valid); eventForm.reset()"
        #eventForm="ngForm"
      >
        <div class="form-group">
          <label for="courses" class="form-label">Rechercher un cours</label>
          <ng-select
                  [items]="selectLabel"
                  name="courses"
                  [(ngModel)]="event.courseId"
                  bindLabel="name"
                  bindValue="id"
                  required
                  [class.error]="eventForm.submitted && formLabelRef.invalid"
                  #formLabelRef="ngModel"
          >
            <ng-template ng-option-tmp ng-label-tmp let-item="item">
              {{ item.name }}
            </ng-template>
          </ng-select>

        </div>
        <div class="form-group position-relative">
          <label for="start-date" class="form-label">Start Date</label>
          <ng2-flatpickr
            [config]="startDateOptions"
            name="startDate"
            [setDate]="event.start"
            #startDatePicker
            required
            [class.error]="eventForm.submitted"
          ></ng2-flatpickr>
        </div>
        <div class="form-group position-relative">
          <label for="end-date" class="form-label">End Date</label>
          <ng2-flatpickr
            [config]="endDateOptions"
            name="endDate"
            [setDate]="event.end"
            #endDatePicker
            required
            [class.error]="eventForm.submitted"
          ></ng2-flatpickr>
        </div>

        <div class="form-group select2-primary">
          <label for="event-guests" class="form-label">Choissir professeur</label>
          <ng-select
            [items]="selectGuest"
            name="selectGuest"
            [(ngModel)]="event.extendedProps.addGuest"
            bindLabel="name"
          >
            <ng-template ng-option-tmp ng-label-tmp let-item="item">
              <div class="media align-items-center">
                <div class="media-body">
                  <p class="mb-0">{{ item.name }}</p>
                </div>
              </div>
            </ng-template>
          </ng-select>
        </div>
        <div class="form-group">
          <label for="event-location" class="form-label">Salle</label>
          <ng-select
                  [items]="classRooms"
                  name="location"
                  [(ngModel)]="event.classRoomId"
                  bindLabel="name"
                  bindValue="id"
                  required
                  [class.error]="eventForm.submitted && formLabelRef.invalid"
                  #formLabelRef="ngModel"
          >
            <ng-template ng-option-tmp ng-label-tmp let-item="item">
              {{ item.name }}
            </ng-template>
          </ng-select>
        </div>

        <div class="form-group d-flex">
          <button
            type="submit"
            class="btn btn-primary add-event-btn mr-1"
            *ngIf="isDataEmpty !== false; else addEventRef"
            (click)="addEvent(eventForm)"
            rippleEffect
          >
            Ajouter
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary btn-cancel"
            data-dismiss="modal"
            (click)="toggleEventSidebar()"
            *ngIf="isDataEmpty !== false; else deleteEventRef"
            rippleEffect
          >
            Annuler
          </button>
          <ng-template #addEventRef>
            <button type="submit" class="btn btn-primary update-event-btn mr-1" (click)="updateEvent()" rippleEffect>
              Modifier
            </button>
          </ng-template>
          <ng-template #deleteEventRef>
            <button class="btn btn-outline-danger btn-delete-event" (click)="deleteEvent()" rippleEffect>Supprimer</button>
          </ng-template>
        </div>
      </form>
    </div>
  </div>
</div>
<!--/ Calendar Add/Update/Delete event modal-->
