<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div class="card card-developer-meetup">
      <div class="bg-light-primary rounded-top text-center">
        <img
          src="assets/images/illustration/email.svg"
          alt="Meeting Pic"
          height="170"
        />
      </div>
      <div class="card-body">
        <div class="meetup-header d-flex align-items-center">
          <div class="meetup-day">
            <h6 class="mb-0">Cours</h6>
            <h3 class="mb-0">{{ course.course.name }}</h3>
          </div>
          <div class="my-auto">
            <h4 class="card-title mb-25">Classe</h4>
            <p class="card-text mb-0">{{ course.class_level.name }}</p>
          </div>
        </div>
        <div class="media">
          <div class="avatar bg-light-primary rounded mr-1">
            <div class="avatar-content">
              <i data-feather="calendar" class="avatar-icon font-medium-3"></i>
            </div>
          </div>
          <div class="media-body">
            <h6 class="mb-0">Sat, May 25, 2020</h6>
            <small>10:AM to 6:PM</small>
          </div>
        </div>
        <div class="media">
          <div class="avatar bg-light-primary rounded mr-1">
            <div class="avatar-content">
              <i data-feather="map-pin" class="avatar-icon font-medium-3"></i>
            </div>
          </div>
          <div class="media-body">
            <h6 class="mb-0">Central Park</h6>
            <small>Manhattan, New york City</small>
          </div>
        </div>
        <div class="avatar-group">
          <div
            placement="bottom"
            ngbTooltip="Billy Hopkins"
            class="avatar pull-up"
          >
            <img
              src="assets/images/portrait/small/avatar-s-9.jpg"
              alt="Avatar"
              width="33"
              height="33"
            />
          </div>
          <div
            placement="bottom"
            ngbTooltip="Amy Carson"
            class="avatar pull-up"
          >
            <img
              src="assets/images/portrait/small/avatar-s-6.jpg"
              alt="Avatar"
              width="33"
              height="33"
            />
          </div>
          <div
            placement="bottom"
            ngbTooltip="Brandon Miles"
            class="avatar pull-up"
          >
            <img
              src="assets/images/portrait/small/avatar-s-8.jpg"
              alt="Avatar"
              width="33"
              height="33"
            />
          </div>
          <div
            placement="bottom"
            ngbTooltip="Daisy Weber"
            class="avatar pull-up"
          >
            <img
              src="assets/images/portrait/small/avatar-s-7.jpg"
              alt="Avatar"
              width="33"
              height="33"
            />
          </div>
          <div
            placement="bottom"
            ngbTooltip="Jenny Looper"
            class="avatar pull-up"
          >
            <img
              src="assets/images/portrait/small/avatar-s-20.jpg"
              alt="Avatar"
              width="33"
              height="33"
            />
          </div>
          <h6 class="align-self-center cursor-pointer ml-50 mb-0">+42</h6>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>
