<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <!-- account setting page -->
    <section id="page-account-settings">
      <div class="row nav-vertical d-flex">
        <div class="col-md-3 mb-2 mb-md-0">
          <ul
            ngbNav
            #navVertical="ngbNav"
            class="nav nav-pills flex-column nav-left">
            <li class="nav-item" ngbNavItem>
              <a
                ngbNavLink
                class="nav-link d-flex py-75"
                id="account-pill-general"
                data-toggle="pill"
                href="#account-vertical-general"
                aria-expanded="true">
                <i data-feather="user" class="font-medium-3 mr-1"></i>
                <span class="font-weight-bold">
                  {{ 'content.general' | translate }}
                </span>
              </a>
              <ng-template ngbNavContent>
                <div class="card">
                  <div class="card-body">
                    <!-- header media -->
                    <div class="media">
                      <a href="javascript:void(0);" class="mr-25">
                        <img
                          [src]="avatarImage ?? ''"
                          class="rounded mr-50"
                          alt="profile image"
                          height="76"
                          width="80"
                          />
                      </a>
                      <!-- upload and reset button -->
                      <div class="media-body mt-75 ml-1">
                        <button
                          (click)="file.click()"
                          for="account-upload"
                          class="btn btn-sm btn-primary mb-75 mr-75"
                          rippleEffect>
                          Upload
                        </button>
                        <input
                          type="file"
                          #file
                          id="account-upload"
                          hidden
                          accept="image/*"
                          (change)="uploadImage($event)"
                          />
                        <button
                          class="btn btn-sm btn-outline-secondary mb-75"
                          rippleEffect>
                          Reset
                        </button>
                        <p>Allowed JPG, GIF or PNG. Max size of 800kB</p>
                      </div>
                      <!--/ upload and reset button -->
                    </div>
                    <!--/ header media -->

                    <!-- form -->
                    <form class="validate-form mt-2">
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-username">{{
                              'auth.username.text'|translate }}</label>
                            <input
                              type="text"
                              [(ngModel)]="data.username"
                              class="form-control"
                              id="account-username"
                              name="username"
                              placeholder="{{ 'auth.username.text'|translate }}"
                              />
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-name">{{
                              'student.table.first_name'|translate }}</label>
                            <input
                              type="text"
                              [(ngModel)]="data.owner.first_name"
                              class="form-control"
                              id="first_name"
                              name="first_name"
                              placeholder="{{
                              'student.table.first_name'|translate }}"
                              />
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-name">{{
                              'student.table.last_name'|translate }}</label>
                            <input
                              type="text"
                              [(ngModel)]="data.owner.last_name"
                              class="form-control"
                              id="last_name"
                              name="last_name"
                              placeholder="{{
                              'student.table.last_name'|translate }}"
                              />
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-e-mail">{{
                              'student.table.email'|translate }}</label>
                            <input
                              type="email"
                              [(ngModel)]="data.owner.email"
                              class="form-control"
                              id="account-e-mail"
                              name="email"
                              placeholder="{{ 'student.table.email'|translate
                              }}"
                              />
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-company">{{
                              'student.table.phone'|translate }}</label>
                            <input
                              type="text"
                              [(ngModel)]="data.owner.telephone"
                              class="form-control"
                              id="telephone"
                              name="telephone"
                              placeholder="{{ 'student.table.phone'|translate
                              }}"
                              />
                          </div>
                        </div>

                        <div class="col-12">
                          <button
                            type="submit"
                            class="btn btn-primary mt-2 mr-1"
                            rippleEffect>
                            {{ 'content.btn.submit'|translate }}
                          </button>
                          <button
                            type="reset"
                            class="btn btn-outline-secondary mt-2"
                            rippleEffect>
                            {{ 'content.btn.cancel'|translate }}
                          </button>
                        </div>
                      </div>
                    </form>
                    <!--/ form -->
                  </div>
                </div>
              </ng-template>
            </li>
            <li class="nav-item" ngbNavItem>
              <a
                ngbNavLink
                class="nav-link d-flex py-75"
                id="account-pill-password"
                data-toggle="pill"
                href="#account-vertical-password"
                aria-expanded="false">
                <i data-feather="lock" class="font-medium-3 mr-1"></i>
                <span class="font-weight-bold">
                  {{ 'content.change_password' | translate }}
                </span>
              </a>
              <ng-template ngbNavContent>
                <div class="card">
                  <div class="card-body">
                    <form class="validate-form">
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-old-password">
                              {{ 'auth.change_password.old_password'|translate
                              }}
                            </label>
                            <div
                              class="input-group form-password-toggle
                              input-group-merge">
                              <input
                                [type]="
                                passwordTextTypeOld ? 'text' : 'password'
                                "
                                class="form-control"
                                id="account-old-password"
                                name="password"
                                placeholder="{{
                                'auth.change_password.old_password'|translate
                                }}"
                                />
                              <div class="input-group-append">
                                <span class="input-group-text cursor-pointer">
                                  <i
                                    class="feather font-small-4"
                                    [ngClass]="{
                                    'icon-eye-off': passwordTextTypeOld,
                                    'icon-eye': !passwordTextTypeOld
                                    }"
                                    (click)="togglePasswordTextTypeOld()"></i>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-new-password">
                              {{ 'auth.change_password.new_password'|translate
                              }}
                            </label>
                            <div
                              class="input-group form-password-toggle
                              input-group-merge">
                              <input
                                [type]="
                                passwordTextTypeNew ? 'text' : 'password'
                                "
                                id="account-new-password"
                                name="new-password"
                                class="form-control"
                                placeholder="{{
                                'auth.change_password.new_password'|translate
                                }}"
                                />
                              <div class="input-group-append">
                                <span class="input-group-text cursor-pointer">
                                  <i
                                    class="feather font-small-4"
                                    [ngClass]="{
                                    'icon-eye-off': passwordTextTypeNew,
                                    'icon-eye': !passwordTextTypeNew
                                    }"
                                    (click)="togglePasswordTextTypeNew()"></i>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-retype-new-password">
                              {{ 'auth.change_password.conf_password'|translate
                              }}
                            </label>
                            <div
                              class="input-group form-password-toggle
                              input-group-merge">
                              <input
                                [type]="
                                passwordTextTypeRetype ? 'text' : 'password'
                                "
                                class="form-control"
                                id="account-retype-new-password"
                                name="confirm-new-password"
                                placeholder="{{
                                'auth.change_password.conf_password'|translate
                                }}"
                                />
                              <div class="input-group-append">
                                <span class="input-group-text cursor-pointer">
                                  <i
                                    class="feather font-small-4"
                                    [ngClass]="{
                                    'icon-eye-off': passwordTextTypeRetype,
                                    'icon-eye': !passwordTextTypeRetype
                                    }"
                                    (click)="togglePasswordTextTypeRetype()"></i>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <button
                            type="submit"
                            class="btn btn-primary mr-1 mt-1"
                            rippleEffect>
                            {{ 'content.btn.submit'|translate }}
                          </button>
                          <button
                            type="reset"
                            class="btn btn-outline-secondary mt-1"
                            rippleEffect>
                            {{ 'content.btn.cancel'|translate }}
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </ng-template>
            </li>
          </ul>
        </div>
        <div [ngbNavOutlet]="navVertical" class="col-12 col-md-9"></div>
      </div>
    </section>
    <!--/ account setting page -->
  </div>
</div>
