<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div class="card card-developer-meetup">
      <div class="card-body">
        <div class="meetup-header d-flex align-items-center">
          <div class="meetup-day">
            <div class="avatar bg-light-danger avatar-xl">
              <span class="avatar-content">{{ subName() }}</span>
            </div>
            <div class="d-block mt-1">
              <span class="text-dark text-uppercase"
                >{{ student.reference }}
              </span>
              <h3>{{ student.first_name }} {{ student.last_name }}</h3>
            </div>
          </div>

          <div class="d-block">
            <div>
              <span class="text-dark bold"
                >{{ "student.table.adress" | translate }}:
              </span>
              {{ student.adress }}
            </div>
            <br />
            <div>
              <span class="text-dark bold"
                >{{ "student.table.birth_in" | translate }}:
              </span>
              {{ student.birth_in }}
            </div>
            <br />
            <div>
              <span class="text-dark bold"
                >{{ "student.table.birth_at" | translate }}:
              </span>
              {{ student.birth_at }}
            </div>
          </div>
        </div>
        <hr />
        <ul
          ngbNav
          #navWithIcons="ngbNav"
          class="nav-tabs justify-content-start"
        >
          <li ngbNavItem>
            <a ngbNavLink
              ><span [data-feather]="'users'"></span>
              {{ "student.tabs.parent" | translate }}</a
            >
            <ng-template ngbNavContent>
              <!-- list of tutors -->
              <div *ngIf="(meta_data.tutors && meta_data.tutors.length != 0); else emptyTable" class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">{{ "tutor.table.name" | translate }}</th>
                      <th scope="col">
                        {{ "tutor.table.phone1" | translate }}
                      </th>
                      <th scope="col">
                        {{ "tutor.table.adress" | translate }}
                      </th>
                      <th scope="col">{{ "tutor.table.type" | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let tutor of meta_data.tutors">
                      <td>{{ tutor.name }}</td>
                      <td>{{ tutor.phone1 }}</td>
                      <td>{{ tutor.adress }}</td>
                      <td>{{ tutorType(tutor.type) | translate }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink
              ><span [data-feather]="'briefcase'"></span>
              {{ "student.tabs.journey" | translate }}</a
            >
            <ng-template ngbNavContent>
              <p>
                Chocolate croissant cupcake croissant jelly donut. Cheesecake
                toffee apple pie chocolate bar biscuit tart croissant. Lemon
                drops danish cookie. Oat cake macaroon icing tart lollipop
                cookie sweet bear claw. Carrot cake dragée chocolate. Lemon
                drops ice cream wafer gummies dragée. Chocolate bar liquorice
                cheesecake cookie chupa chups marshmallow oat cake biscuit.
                Dessert toffee fruitcake ice cream powder tootsie roll cake.
              </p>
            </ng-template>
          </li>
          <li ngbNavItem [disabled]="true">
            <a ngbNavLink
              ><span [data-feather]="'users'"></span>
              {{ "student.tabs.attendance" | translate }}</a
            >

            <ng-template ngbNavContent>
              <p>
                Cake croissant lemon drops gummi bears carrot cake biscuit
                cupcake croissant. Macaroon lemon drops muffin jelly sugar plum
                chocolate cupcake danish icing. Soufflé tootsie roll lemon drops
                sweet roll cake icing cookie halvah cupcake.
              </p>
            </ng-template>
          </li>

          <li ngbNavItem [disabled]="true">
            <a ngbNavLink
              ><span [data-feather]="'book'"></span>
              {{ "student.tabs.library" | translate }}</a
            >
            <ng-template ngbNavContent>
              <p>
                Chocolate croissant cupcake croissant jelly donut. Cheesecake
                toffee apple pie chocolate bar biscuit tart croissant. Lemon
                drops danish cookie. Oat cake macaroon icing tart lollipop
                cookie sweet bear claw. Carrot cake dragée chocolate. Lemon
                drops ice cream wafer gummies dragée. Chocolate bar liquorice
                cheesecake cookie chupa chups marshmallow oat cake biscuit.
                Dessert toffee fruitcake ice cream powder tootsie roll cake.
              </p>
            </ng-template>
          </li>
           <li ngbNavItem [disabled]="true">
            <a ngbNavLink
              ><span [data-feather]="'dollar-sign'"></span>
              {{ "student.tabs.fee" | translate }}</a
            >
            <ng-template ngbNavContent>
              <p>
                Chocolate croissant cupcake croissant jelly donut. Cheesecake
                toffee apple pie chocolate bar biscuit tart croissant. Lemon
                drops danish cookie. Oat cake macaroon icing tart lollipop
                cookie sweet bear claw. Carrot cake dragée chocolate. Lemon
                drops ice cream wafer gummies dragée. Chocolate bar liquorice
                cheesecake cookie chupa chups marshmallow oat cake biscuit.
                Dessert toffee fruitcake ice cream powder tootsie roll cake.
              </p>
            </ng-template>
          </li>
          <li ngbNavItem [disabled]="true">
            <a ngbNavLink
              ><span [data-feather]="'home'"></span>
              {{ "student.tabs.housing" | translate }}</a
            >
            <ng-template ngbNavContent>
              <p>
                Chocolate croissant cupcake croissant jelly donut. Cheesecake
                toffee apple pie chocolate bar biscuit tart croissant. Lemon
                drops danish cookie. Oat cake macaroon icing tart lollipop
                cookie sweet bear claw. Carrot cake dragée chocolate. Lemon
                drops ice cream wafer gummies dragée. Chocolate bar liquorice
                cheesecake cookie chupa chups marshmallow oat cake biscuit.
                Dessert toffee fruitcake ice cream powder tootsie roll cake.
              </p>
            </ng-template>
          <li ngbNavItem [disabled]="true">
            <a ngbNavLink
              ><span [data-feather]="'heart'"></span>
              {{ "student.tabs.medical" | translate }}</a
            >
            <ng-template ngbNavContent>
              <p>
                Chocolate croissant cupcake croissant jelly donut. Cheesecake
                toffee apple pie chocolate bar biscuit tart croissant. Lemon
                drops danish cookie. Oat cake macaroon icing tart lollipop
                cookie sweet bear claw. Carrot cake dragée chocolate. Lemon
                drops ice cream wafer gummies dragée. Chocolate bar liquorice
                cheesecake cookie chupa chups marshmallow oat cake biscuit.
                Dessert toffee fruitcake ice cream powder tootsie roll cake.
              </p>
            </ng-template>
          </li>
          <li ngbNavItem [disabled]="true">
            <a ngbNavLink
              ><span [data-feather]="'bell'"></span>
              {{ "student.tabs.alert" | translate }}</a
            >
            <ng-template ngbNavContent>
              <p>
                Chocolate croissant cupcake croissant jelly donut. Cheesecake
                toffee apple pie chocolate bar biscuit tart croissant. Lemon
                drops danish cookie. Oat cake macaroon icing tart lollipop
                cookie sweet bear claw. Carrot cake dragée chocolate. Lemon
                drops ice cream wafer gummies dragée. Chocolate bar liquorice
                cheesecake cookie chupa chups marshmallow oat cake biscuit.
                Dessert toffee fruitcake ice cream powder tootsie roll cake.
              </p>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="navWithIcons" class="mt-2"></div>
      </div>
    </div>
  </div>
</div>


<ng-template #emptyTable>
  <div class="alert alert-warning p-3" role="alert">
    <h4 >{{ 'content.table.empty.title' | translate }}</h4>
    <p>{{ 'content.table.empty.message' | translate }}</p>
    <hr />
    <button
    class="btn btn-primary ml-1"
    rippleEffect
    disabled
  >
    <i data-feather="plus" class="mr-0 mr-sm-1"></i
    ><span class="d-none d-sm-inline-block">{{ 'content.table.empty.btn'|translate }}</span>
  </button>
  </div>
</ng-template>
