<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <!-- Horizontal Wizard -->
        <section class="horizontal-wizard">
            <div id="stepper1" class="bs-stepper horizontal-wizard-example">
                <div class="bs-stepper-header">
                    <div class="step" data-target="#account-details">
                        <button class="step-trigger">
                            <span class="bs-stepper-box">1</span>
                            <span class="bs-stepper-label">
                                <span class="bs-stepper-title">{{ translateObject[0]?.title }}</span>
                                <span class="bs-stepper-subtitle">{{ translateObject[0]?.sub_title }}</span>
                            </span>
                        </button>
                    </div>
                    <div class="line"><i data-feather="chevron-right" class="font-medium-2"></i></div>
                    <div class="step" data-target="#personal-info">
                        <button class="step-trigger">
                            <span class="bs-stepper-box">2</span>
                            <span class="bs-stepper-label">
                                <span class="bs-stepper-title">{{ translateObject[1]?.title }}</span>
                                <span class="bs-stepper-subtitle">{{ translateObject[1]?.sub_title }}</span>
                            </span>
                        </button>
                    </div>
                    <div class="line"><i data-feather="chevron-right" class="font-medium-2"></i></div>
                    <div class="step" data-target="#address">
                        <button class="step-trigger">
                            <span class="bs-stepper-box">3</span>
                            <span class="bs-stepper-label">
                                <span class="bs-stepper-title">{{ translateObject[2]?.title }}</span>
                                <span class="bs-stepper-subtitle">{{ translateObject[2]?.sub_title }}</span>
                            </span>
                        </button>
                    </div>
                    <div class="line"><i data-feather="chevron-right" class="font-medium-2"></i></div>
                    <div class="step" data-target="#social-links">
                        <button class="step-trigger">
                            <span class="bs-stepper-box">3</span>
                            <span class="bs-stepper-label">
                                <span class="bs-stepper-title">{{ translateObject[3]?.title }}</span>
                                <span class="bs-stepper-subtitle">{{ translateObject[3]?.sub_title }}</span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="bs-stepper-content">
                    <form (ngSubmit)="(HWForm.form.valid)" #HWForm="ngForm">
                        <div id="account-details" class="content">
                            <form #accountDetailsForm="ngForm">
                                <div class="content-header">
                                    <h5 class="mb-0">Account Details</h5>
                                    <small class="text-muted">Enter Your Account Details.</small>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="username">Username</label>
                                        <input [(ngModel)]="TDNameVar" #TDNameRef="ngModel" required type="text"
                                            name="username" id="username" class="form-control"
                                            [class.error]="!TDNameRef.valid && accountDetailsForm.submitted"
                                            placeholder="johndoe" />
                                        <span *ngIf="accountDetailsForm.submitted && TDNameRef.invalid"
                                            class="invalid-form">
                                            <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This
                                                field is required!</small>
                                        </span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="email">Email</label>
                                        <input [(ngModel)]="TDEmailVar" #TDEmailRef="ngModel" required email
                                            type="email" name="email" id="email" class="form-control"
                                            [class.error]="!TDEmailRef.valid && accountDetailsForm.submitted"
                                            placeholder="john.doe@email.com" aria-label="john.doe" />
                                        <span *ngIf="accountDetailsForm.submitted" class="invalid-form">
                                            <small class="form-text text-danger" *ngIf="!TDEmailRef.valid">Email must be
                                                valid!</small>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group form-password-toggle col-md-6">
                                        <label class="form-label" for="password">Password</label>
                                        <input type="password" name="password" id="password" class="form-control"
                                            [class.error]="!TDPasswordOnlyRef.valid && accountDetailsForm.submitted"
                                            placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                            ngModel #TDPasswordOnlyRef="ngModel" required minlength="6"
                                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
                                        <div *ngIf="TDPasswordOnlyRef.invalid && accountDetailsForm.submitted"
                                            class="form-text text-danger">
                                            <small *ngIf="TDPasswordOnlyRef.errors.required"> Password is required.
                                            </small>
                                            <small *ngIf="TDPasswordOnlyRef.errors.pattern">
                                                Must contain at least one number and one uppercase and lowercase letter,
                                                and at least 8 or more
                                                characters.</small>
                                        </div>
                                    </div>
                                    <div class="form-group form-password-toggle col-md-6">
                                        <label class="form-label" for="confirm-password">Confirm Password</label>
                                        <input type="password" name="confirm-password" id="confirm-password"
                                            class="form-control"
                                            [class.error]="!TDRepeatPasswordRef.valid && accountDetailsForm.submitted"
                                            placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                            required ngModel #TDRepeatPasswordRef="ngModel"
                                            pattern="{{ TDPasswordOnlyRef.value }}" minlength="6" />
                                        <div *ngIf="TDRepeatPasswordRef.invalid && accountDetailsForm.submitted"
                                            class="form-text text-danger">
                                            <small *ngIf="TDRepeatPasswordRef.errors.required"> Confirm password is
                                                required. </small>
                                            <small *ngIf="TDRepeatPasswordRef.errors.pattern">
                                                Password & Confirm Password does not match.</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between">
                                    <button (click)="horizontalWizardStepperPrevious()"
                                        class="btn btn-outline-secondary btn-prev" disabled rippleEffect>
                                        <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                                        <span class="align-middle d-sm-inline-block d-none">Previous</span>
                                    </button>
                                    <button (click)="horizontalWizardStepperNext(accountDetailsForm)" type="submit"
                                        class="btn btn-primary btn-next" rippleEffect>
                                        <span class="align-middle d-sm-inline-block d-none">Next</span>
                                        <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div id="personal-info" class="content">
                            <form #personalInfoForm="ngForm">
                                <div class="content-header">
                                    <h5 class="mb-0">Personal Info</h5>
                                    <small>Enter Your Personal Info.</small>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="first-name">First Name</label>
                                        <input [(ngModel)]="TDFirstNameVar" #TDFirstNameRef="ngModel" required
                                            type="text" name="first-name" id="first-name" class="form-control"
                                            [class.error]="personalInfoForm.submitted && TDFirstNameRef.invalid"
                                            placeholder="John" />
                                        <span *ngIf="personalInfoForm.submitted && TDFirstNameRef.invalid"
                                            class="invalid-form">
                                            <small class="form-text text-danger"
                                                *ngIf="TDFirstNameRef.errors.required">This field is required!</small>
                                        </span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="last-name">Last Name</label>
                                        <input [(ngModel)]="TDLastNameVar" #TDLastNameRef="ngModel" required type="text"
                                            name="last-name" id="last-name" class="form-control"
                                            [class.error]="personalInfoForm.submitted && TDLastNameRef.invalid"
                                            placeholder="Doe" />
                                        <span *ngIf="personalInfoForm.submitted && TDLastNameRef.invalid"
                                            class="invalid-form">
                                            <small class="form-text text-danger"
                                                *ngIf="TDLastNameRef.errors.required">This field is required!</small>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="country">Country</label>
                                        <ng-select [items]="selectBasic" bindLabel="name"> </ng-select>
                                    </div>

                                </div>

                                <div class="d-flex justify-content-between">
                                    <button type="button" (click)="horizontalWizardStepperPrevious()"
                                        class="btn btn-primary btn-prev" rippleEffect>
                                        <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                                        <span class="align-middle d-sm-inline-block d-none">Previous</span>
                                    </button>
                                    <button (click)="horizontalWizardStepperNext(personalInfoForm)"
                                        class="btn btn-primary btn-next" rippleEffect>
                                        <span class="align-middle d-sm-inline-block d-none">Next</span>
                                        <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div id="address" class="content">
                            <form #addressForm="ngForm">
                                <div class="content-header">
                                    <h5 class="mb-0">Address</h5>
                                    <small>Enter Your Address.</small>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="address">Address</label>
                                        <input [(ngModel)]="addressVar" #addressRef="ngModel" required type="text"
                                            id="address" name="address" class="form-control"
                                            [class.error]="addressForm.submitted && addressRef.invalid"
                                            placeholder="98  Borough bridge Road, Birmingham" />
                                        <span *ngIf="addressForm.submitted && addressRef.invalid" class="invalid-form">
                                            <small class="form-text text-danger" *ngIf="addressRef.errors.required">This
                                                field is required!</small>
                                        </span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="landmark">Landmark</label>
                                        <input [(ngModel)]="landmarkVar" #landmarkRef="ngModel" required type="text"
                                            name="landmark" id="landmark" class="form-control"
                                            [class.error]="addressForm.submitted && landmarkRef.invalid"
                                            placeholder="Borough bridge" />
                                        <span *ngIf="addressForm.submitted && landmarkRef.invalid" class="invalid-form">
                                            <small class="form-text text-danger"
                                                *ngIf="landmarkRef.errors.required">This field is required!</small>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="pincode1">Pincode</label>
                                        <input type="text" id="pincode1" class="form-control" placeholder="658921" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="city1">City</label>
                                        <input type="text" id="city1" class="form-control" placeholder="Birmingham" />
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between">
                                    <button type="button" (click)="horizontalWizardStepperPrevious()"
                                        class="btn btn-primary btn-prev" rippleEffect>
                                        <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                                        <span class="align-middle d-sm-inline-block d-none">Previous</span>
                                    </button>
                                    <button (click)="horizontalWizardStepperNext(addressForm)"
                                        class="btn btn-primary btn-next" rippleEffect>
                                        <span class="align-middle d-sm-inline-block d-none">Next</span>
                                        <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!--/ Horizontal Wizard -->
    </div>
</div>