<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <section class="users-list-wrapper">
            <div class="card ">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="d-flex justify-content-between align-items-center m-1">
                            <label class="d-flex align-items-center">
                                <select class="form-control mx-25" (change)="paginate()"
                                    [(ngModel)]="queryParams.per_page">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    {{ 'page.select_size'|translate }}
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
                        <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                            <label class="d-flex align-items-center ml-1 ml-md-0"><input name="searchValue"
                                    type="search" placeholder="{{ 'class_room.placeholder.search'|translate }}"
                                    [(ngModel)]="queryParams.search_query" class="form-control ml-25"
                                    (input)="onSearch($event.target.value)" /></label>
                            <button class="btn btn-primary ml-1" rippleEffect (click)="openModal(createModal)">
                                <i data-feather="plus" class="mr-0 mr-sm-1"></i><span
                                    class="d-none d-sm-inline-block">{{
                                    'class_room.btn.add'|translate }}</span>
                            </button>
                        </div>
                    </div>
                </div>

                <ngx-datatable (page)="paginate($event)" [rows]="class_rooms.data" [rowHeight]="50"
                    class="bootstrap core-bootstrap" [limit]="class_rooms.per_page" [externalPaging]="true"
                    [count]="class_rooms.total" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                    [scrollbarH]="true">

                    <ngx-datatable-column name="{{ 'class_room.table.name'|translate }}" prop="name" [width]="280">
                    </ngx-datatable-column>

                    <ngx-datatable-column name="{{ 'class_room.table.size'|translate }}" prop="size" [width]="80">
                        <ng-template let-size="value" ngx-datatable-cell-template>
                            <div *ngIf="!size" class="badge badge-pill" [ngClass]="{
                                      'badge-light-danger': true
                                    }">
                                {{('content.undefined'|translate)
                                }}
                            </div>
                            <div *ngIf="size">
                                {{ size }}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="{{ 'class_room.table.building'|translate }}" prop="building.name"
                        [width]="120">
                    </ngx-datatable-column>

                    <ngx-datatable-column name="{{ 'class_room.table.status'|translate }}" prop="status" [width]="80">
                        <ng-template let-status="value" ngx-datatable-cell-template>
                            <div class="badge badge-pill" [ngClass]="{
                      'badge-light-success': status == 'active',
                      'badge-light-danger': status == 'inactive'
                    }">
                                {{
                                status == 'active'
                                ? ('class_room.status.active'|translate)
                                : ('class_room.status.inactive'|translate)
                                }}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="{{ 'content.table.actions'|translate }}" [width]="50"
                        [sortable]="false">
                        <ng-template ngx-datatable-cell-template>
                            <div class="d-flex align-items-center">
                                <i data-feather="edit" class="text-primary cursor-pointer"></i>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                </ngx-datatable>
            </div>

        </section>
    </div>


    <div class="modal-primary d-inline-block">
        <ng-template #createModal let-modal>
            <app-create-class-room [modal]="modal"></app-create-class-room>
        </ng-template>
    </div>
</div>