<app-content-header [contentHeader]="contentHeader"></app-content-header>
<div class="card card-developer-meetup">
  <div class="bg-light-primary rounded-top text-center">
    <img
      src="assets/images/illustration/email.svg"
      alt="Meeting Pic"
      height="170"
    />
  </div>
  <div class="card-body">
    <div class="meetup-header d-flex align-items-center">
      <div class="meetup-day">
        <h6 class="mb-0 h3">{{ deliberation.semester.name }}</h6>
        <span class="mb-0 h1 bold">{{ deliberation.class_level.name }}</span>
      </div>
      <div class="meetup-day">
        <h6 class="mb-0 h3">Année scolaire</h6>
        <span class="mb-0 h1 bold">{{ deliberation.school_year.start_end }}</span>
      </div>
      <button
        class="btn btn-primary ml-1"
        rippleEffect
        (click)="printResults()"
      >
        <i data-feather="download" class="mr-0 mr-sm-1"></i>
        <span class="d-none d-sm-inline-block">Telecharger les résultats</span>
      </button>
      <button
        class="btn btn-danger ml-1"
        rippleEffect
        *ngIf="deliberation.status != 'finish'"
        (click)="reloadDeliberation()"
      >
        <i data-feather="download" class="mr-0 mr-sm-1"></i>
        <span class="d-none d-sm-inline-block">Relancer la délibération</span>
      </button>
      <button
            class="btn btn-success ml-1"
            rippleEffect
            (click)="confirmDeliberation(item)"
            *ngIf="deliberation.status != 'finish'"
          >
        <i data-feather="check" class="mr-0 mr-sm-1"></i>

            <span class="d-none d-sm-inline-block">Finaliser la déliberation</span>
          </button>
    </div>
  </div>
</div>
<br />

 <ngb-accordion [closeOthers]="true">
  <ngb-panel *ngFor="let item of results">
    <ng-template ngbPanelTitle>
      <span class="lead collapse-title h2 bold">{{ item.course.name }}</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <ngx-datatable
        [rows]="item.results"
        [rowHeight]="50"
        class="bootstrap core-bootstrap"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50">
        <ngx-datatable-column name="Etudiant/Élève" prop="student">
          <ng-template let-student="value" ngx-datatable-cell-template>
            {{ student.first_name }} {{ student.last_name }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Devoir" prop="duty_average">
        </ngx-datatable-column>
        <ngx-datatable-column name="Examen" prop="exam_average">
        </ngx-datatable-column>
        <ngx-datatable-column name="Coéf" prop="coef"> </ngx-datatable-column>
        <ngx-datatable-column name="Moyen" prop="average">
        </ngx-datatable-column>
        <ngx-datatable-column name="Rang" prop="rang"> </ngx-datatable-column>
        <ngx-datatable-column name="Mention" prop="mention">
        </ngx-datatable-column>
      </ngx-datatable>
    </ng-template>
  </ngb-panel>
</ngb-accordion> 


<!-- <div class="card card-body">
  <div [innerHTML]="results"></div>
</div> -->