<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <section class="users-list-wrapper">
            <div class="card">

                <label class="m-2 w-50"><input
                        name="searchValue"
                        type="search"
                        placeholder="{{ 'student.placeholder.search' | translate }}"
                        [ngModel]
                        class="form-control ml-25"
                        (input)="onSearch($event.target.value)" /></label>

                <nz-table #nzTable [nzData]="datas" [nzPageSize]="10"
                    [nzLoading]="searchLoad">
                    <thead>
                        <tr>
                            <th>{{ 'student.table.profile' | translate }}</th>
                            <th>{{ 'student.table.reference' | translate }}</th>
                            <th>{{ 'student.table.first_name' | translate }}</th>
                            <th>{{ 'student.table.last_name' | translate }}</th>
                            <th>{{ 'student.table.birth_at' | translate }}</th>
                            <th>{{ 'student.table.birth_in' | translate }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let student of nzTable.data">
                            <td>
                                <div *ngIf="student.media"
                                    class="avatar avatar-lg">
                                    <img
                                        src="{{ student.media[0]?.original_url }}"
                                        alt="avatar" />
                                </div>
                                <div *ngIf="!student.media"
                                    class="avatar bg-light-primary avatar-md">
                                    <span class="avatar-content">{{ userInitial(student.first_name, student.last_name) }}</span>
                                </div>
                            </td>
                            <td>
                                <span class="text-uppercase">{{
                                    student.reference }}</span>
                            </td>
                            <td>{{student.first_name}}</td>
                            <td>{{student.last_name}}</td>
                            <td>{{student.birth_at}}</td>
                            <td>{{student.birth_in}}</td>

                            <td>
                                <button
                                    [routerLink]="['/pages/progressions/' + student.id]"
                                    type="button"
                                    class="btn btn-icon btn-primary mx-1"
                                    rippleEffect>
                                    <span [data-feather]="'eye'"></span>
                                    {{ 'content.title.detail'|translate }}
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>

                <!-- <ngx-datatable
                    [rows]="datas"
                    [rowHeight]="80"
                    class="bootstrap core-bootstrap"
                    [limit]="10"
                    [externalPaging]="false"
                    [columnMode]="'force'"
                    [loadingIndicator]="searchLoad"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [messages]="{emptyMessage: 'Aucune donnée', totalMessage: 'total'}"
                    [scrollbarH]="true">

                    <ngx-datatable-column
                        name="{{ 'student.table.profile' | translate }}"
                        [width]="80"
                        prop="student">

                        <ng-template let-student="value"
                            ngx-datatable-cell-template>
                            <div class="avatar avatar-lg">
                                <img
                                    src="{{ student.media[0]?.original_url }}"
                                    alt="avatar" />
                            </div>
                        </ng-template>

                    </ngx-datatable-column>
                    <ngx-datatable-column
                        name="{{ 'student.table.reference' | translate }}"
                        prop="reference">
                        <ng-template let-reference="value"
                            ngx-datatable-cell-template>
                            <span class="text-uppercase">{{ reference }}</span>
                        </ng-template>

                    </ngx-datatable-column>
                    <ngx-datatable-column
                        name="{{ 'student.table.first_name' | translate }}"
                        prop="first_name">
                    </ngx-datatable-column>
                    <ngx-datatable-column
                        name="{{ 'student.table.last_name' | translate }}"
                        prop="last_name">
                    </ngx-datatable-column>
                    <ngx-datatable-column
                        name="{{ 'student.table.birth_at' | translate }}"
                        prop="birth_at">
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        name="{{ 'content.table.actions' | translate }}"
                        [width]="50"
                        [sortable]="false">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <button
                                [routerLink]="['/pages/progressions/' + row.student.id]"
                                type="button"
                                class="btn btn-icon btn-primary mx-1"
                                rippleEffect>
                                <span [data-feather]="'eye'"></span>
                                {{ 'content.title.detail'|translate }}
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable> -->
            </div>
        </section>
    </div>
</div>