<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div class="d-flex align-items-center justify-content-between">
      <span class="h1 bold text-secondary">
        {{ class_level.name }}
      </span>
      <button [routerLink]="['/pages/times-tables/add', this.class_level.times_table?.id]" [queryParams]="{'class_level': class_level.id}" class="btn btn-primary">{{ "timestable.title" | translate }}</button>
    </div>
    <br />

    <section class="users-list-wrapper">
      <div class="card card-body">
        <ul
          ngbNav
          #navWithIcons="ngbNav"
          class="nav-tabs justify-content-start"
        >
          <!-- STUDENTS -->
          <li ngbNavItem>
            <a ngbNavLink
              ><span [data-feather]="'users'"></span>
              {{ "content.title.students" | translate }}</a
            >
            <ng-template ngbNavContent>
              <div
                class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0"
              >
                <label class="d-flex align-items-center ml-1 ml-md-0"
                  ><input
                    name="searchValue"
                    type="search"
                    placeholder="{{ 'student.placeholder.search' | translate }}"
                    [(ngModel)]="queryParams.search_query"
                    class="form-control ml-25"
                    (input)="onSearch($event.target['value'])"
                /></label>
              </div>
              <br />
              <ngx-datatable
                (page)="paginate($event)"
                [rows]="students.data"
                [rowHeight]="50"
                class="bootstrap core-bootstrap"
                [limit]="students.per_page"
                [externalPaging]="true"
                [count]="students.total"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [scrollbarH]="true"
              >
                <ngx-datatable-column
                  name="{{ 'student.table.reference' | translate }}"
                  prop="reference"
                >
                </ngx-datatable-column>
                <ngx-datatable-column
                  name="{{ 'student.table.first_name' | translate }}"
                  prop="first_name"
                >
                </ngx-datatable-column>
                <ngx-datatable-column
                  name="{{ 'student.table.last_name' | translate }}"
                  prop="last_name"
                >
                </ngx-datatable-column>
                <ngx-datatable-column
                  name="{{ 'student.table.birth_at' | translate }}"
                  prop="birth_at"
                >
                  <ng-template let-birth_at="value" ngx-datatable-cell-template>
                    {{ birth_at | date : "dd/MM/yyyy" }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                  name="{{ 'student.table.birth_at' | translate }}"
                  prop="birth_in"
                >
                </ngx-datatable-column>
                <ngx-datatable-column
                  name="{{ 'student.table.phone' | translate }}"
                  prop="telephone"
                >
                  <ng-template
                    let-telephone="value"
                    ngx-datatable-cell-template
                  >
                    <div
                      *ngIf="!telephone"
                      class="badge badge-pill"
                      [ngClass]="{ 'badge-light-danger': true }"
                    >
                      {{ "content.undefined" | translate }}
                    </div>
                    <div *ngIf="telephone">
                      {{ telephone }}
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  name="{{ 'content.table.actions' | translate }}"
                  [sortable]="false"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="d-flex align-items-center">
                      <button
                              [routerLink]="['/pages/students/show/', row.id]"
                        type="button"
                        class="btn btn-icon btn-primary"
                        rippleEffect
                      >
                        <span [data-feather]="'eye'"></span>
                      </button>
                      <!--<button
                              type="button"
                              class="btn btn-icon btn-warning mx-2"
                              rippleEffect
                      >
                        <span [data-feather]="'edit'"></span>
                      </button>-->
                    </div>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </ng-template>
          </li>

          <!-- COURSES -->
          <li ngbNavItem>
            <a ngbNavLink (click)="paginateCourse()"
              ><span [data-feather]="'book'"></span>
              {{ "content.title.courses" | translate }}</a
            >
            <ng-template ngbNavContent>
              <app-courses [classLevelId]="class_level?.id"></app-courses>
            </ng-template>
          </li>

          <li ngbNavItem>
            <a ngbNavLink
              ><span [data-feather]="'code'"></span>
              {{ "content.title.tests" | translate }}</a
            >
            <ng-template ngbNavContent>
              <app-class-level-test-examen></app-class-level-test-examen>
            </ng-template>
          </li>
          <li ngbNavItem [disabled]="true">
            <a ngbNavLink
              ><span [data-feather]="'users'"></span>
              {{ "student.tabs.attendance" | translate }}</a
            >

            <ng-template ngbNavContent>
              <p>
                Cake croissant lemon drops gummi bears carrot cake biscuit
                cupcake croissant. Macaroon lemon drops muffin jelly sugar plum
                chocolate cupcake danish icing. Soufflé tootsie roll lemon drops
                sweet roll cake icing cookie halvah cupcake.
              </p>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="navWithIcons" class="mt-2"></div>
      </div>
    </section>
  </div>
</div>

<ng-template #noTimesTables>
    <div class="d-flex align-items-center justify-content-center">
        <div class="text-center">
        <img
            src="assets/images/svg/empty.svg"
            alt="empty"
            class="img-fluid mb-1"
            width="300"
        />
        <h4 class="mb-0">{{ "timestable.empty" | translate }}</h4>
        <p class="mb-2">
            {{ "timestable.empty_description" | translate }}
        </p>
        <button [routerLink]="['/pages/times-tables/add', this.class_level.times_table?.id]" [queryParams]="{'class_level': class_level.id}" class="btn btn-primary">{{ "timestable.bnt_add" | translate }}</button>
        </div>
    </div>
</ng-template>
