@import '@core/scss/angular/libs/noui-slider.component.scss';


.text-ar{
    line-height: 1.8;
    color: #0E0E0E !important;
    font-weight: 500;
    font-size: 2.5em;
    padding: 0.2rem 0;
    
}

.title{
    font-size: 3em;
    color: #0E0E0E !important;
    font-weight: 700;
}