<div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">{{ 'room.create.title'|translate }}</h5>
    <button type="button" class="close" (click)="modal.dismiss('cancel')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body py-4" tabindex="0" ngbAutofocus>
    <form [formGroup]="form">
        <div class="form-group">
            <label class="form-control-label" for="label">{{ 'room.field.label'|translate }}</label>
            <input class="form-control input-md" formControlName="label" type="text"
                placeholder="{{ 'room.field.label'|translate }}" id="label"
                [class.error]="label.invalid && (label.dirty || label.touched)">
            <span *ngIf="label.invalid && (label.dirty || label.touched)" class="invalid-form">
                <small class="form-text text-danger danger" *ngIf="label.errors?.['required']">{{
                    'form.validation.errors.required'|translate }}</small>
            </span>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="label">{{ 'room.field.size'|translate }}</label>
            <input class="form-control input-md" formControlName="size" type="text"
                placeholder="{{ 'room.field.size'|translate }}" id="size"
                [class.error]="size.invalid && (size.dirty || size.touched)">
            <span *ngIf="size.invalid && (size.dirty || size.touched)" class="invalid-form">
                <small class="form-text text-danger danger" *ngIf="size.errors?.['required']">{{
                    'form.validation.errors.required'|translate }}</small>
            </span>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="building_id">{{ "room.field.building"|translate }}</label>
            <ng-select id="building_id" [placeholder]="'room.field.building'|translate" [items]="buildings"
                bindLabel="name" formControlName="building_id" bindValue="id" readonly [loading]="selectLoading">
            </ng-select>
            <span *ngIf="building_id.invalid && (building_id.dirty || building_id.touched)" class="invalid-form">
                <small class="form-text text-danger danger" *ngIf="building_id.errors?.['required']">{{
                    'form.validation.errors.required'|translate }}</small>
            </span>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="w-100 d-flex align-items-center justify-content-between">
        <button type="reset" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel')" rippleEffect>
            {{ 'content.btn.cancel'|translate }}
        </button>
        <button type="submit" [disabled]="!form.valid" (click)="submit(form.value)" class="btn btn-primary mr-1"
            rippleEffect>
            <span *ngIf="createdLoad" class="spinner-border spinner-border-sm" role="status"
                aria-hidden="true"></span>{{
            'content.btn.submit'|translate }}</button>
    </div>
</div>