<div class="content-wrapper container-xxl p-0">
    <div class="d-flex align-items-start justify-content-between">
        <div>
            <span class="h2 bold d-block">
                {{ school?.name }}</span>
            <span class="text-muted d-block">Téléphone:
                {{ school?.phone }}</span>
            <span class="text-muted d-block">Email:
                {{ school?.email }}</span>
            <span class="text-muted d-block">Réference: #{{ school?.reference }}</span>
        </div>
        <div class="h2">{{ 'school_year.title'|translate }}
            <b>
                {{ currentSchoolYear?.start_end }}</b>
        </div>
    </div>
    <br>
    <br>
    <div class="content-body">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-12"
                [routerLink]="'/pages/admissions'">
                <div class="card shadow-sm pointer">
                    <div class="card-header">
                        <div>
                            <h2 class="font-weight-bolder mb-0">
                                {{ "content.title.admission" | translate }}
                            </h2>
                            <p class="card-text">{{
                                'content.description.admission'|translate }}</p>
                        </div>
                        <div class="avatar bg-light-primary p-50 m-0">
                            <div class="avatar-content">
                                <i data-feather="arrow-right"
                                    class="font-medium-5"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12"
                [routerLink]="'/pages/students/index'" [queryParams]="{
                                                                                      per_page: 15,
                                                                                      page: 1,
                                                                                      order: 'desc',
                                                                                      order_by: 'last_name'
                                                                                    }">
                <div class="card shadow-sm pointer">
                    <div class="card-header">
                        <div>
                            <h2 class="font-weight-bolder mb-0">
                                {{ "content.title.students" | translate }}
                            </h2>
                            <p class="card-text">{{
                                'content.description.students'|translate }}</p>
                        </div>
                        <div class="avatar bg-light-success p-50 m-0">
                            <div class="avatar-content">
                                <i data-feather="arrow-right"
                                    class="font-medium-5"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12"
                [routerLink]="'/pages/classrooms'" [queryParams]="{
                                                                                      per_page: 15,
                                                                                      page: 1,
                                                                                      order: 'desc',
                                                                                      order_by: 'name',
                                                                                      'with[]': 'building'
                                                                                    }">
                <div class="card shadow-sm pointer">
                    <div class="card-header">
                        <div>
                            <h2 class="font-weight-bolder mb-0">
                                {{ "content.title.class_rooms" | translate }}
                            </h2>
                            <p class="card-text">
                                {{ "content.description.class_rooms" | translate
                                }}
                            </p>
                        </div>
                        <div class="avatar bg-light-danger p-50 m-0">
                            <div class="avatar-content">
                                <i data-feather="arrow-right"
                                    class="font-medium-5"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        
            <div class="col-lg-4 col-sm-6 col-12"
                [routerLink]="'/pages/courses'" [queryParams]="{
                                                                                    per_page: 10,
                                                                                    page: 1,
                                                                                    order: 'desc',
                                                                                    order_by: 'name',
                                                                                    'with[]': ['semester', 'class_level', 'course', 'professor']
                                                                                  }">
                <div class="card shadow-sm pointer">
                    <div class="card-header">
                        <div>
                            <h2 class="font-weight-bolder mb-0">
                                {{ "menu.schools.courses" | translate }}
                            </h2>
                            <p class="card-text">
                                {{ "content.description.courses" | translate }}
                            </p>
                        </div>
                        <div class="avatar bg-light-warning p-50 m-0">
                            <div class="avatar-content">
                                <i data-feather="arrow-right"
                                    class="font-medium-5"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12"
                [routerLink]="'/pages/class-levels'" [queryParams]="{
                                                                                      per_page: 10,
                                                                                      page: 1,
                                                                                      order: 'desc',
                                                                                      order_by: 'name',
                                                                                      'with[]': ['level'],
                                                                                      'columns[]': ['name', 'id', 'level_id']
                                                                                    }">
                <div class="card  shadow-sm pointer">
                    <div class="card-header">
                        <div>
                            <h2 class="font-weight-bolder mb-0">
                                {{ "menu.schools.class-levels" | translate }}
                            </h2>
                            <p class="card-text">
                                {{ "content.description.class-levels" |
                                translate }}
                            </p>
                        </div>
                        <div class="avatar bg-light-primary p-50 m-0">
                            <div class="avatar-content">
                                <i data-feather="arrow-right"
                                    class="font-medium-5"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12"
                [routerLink]="'/pages/progressions/index'" >
                <div class="card  shadow-sm pointer">
                    <div class="card-header">
                        <div>
                            <h2 class="font-weight-bolder mb-0">
                                {{ "menu.schools.recitations" | translate }}
                            </h2>
                            <p class="card-text">
                                {{ "content.description.recitations" |
                                translate }}
                            </p>
                        </div>
                        <div class="avatar bg-light-info p-50 m-0">
                            <div class="avatar-content">
                                <i data-feather="arrow-right"
                                    class="font-medium-5"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row match-height">
        <div class="col-12">
            <div class="card card-statistics shadow-sm">
                <div class="card-header">
                    <h4 class="card-title">Statistiques</h4>
                    <div class="d-flex align-items-center">
                        <p class="card-text mr-25 mb-0">Updated 1 month ago</p>
                    </div>
                </div>
                <div class="card-body statistics-body">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-12 mb-2 mb-md-0">
                            <div class="media">
                                <div class="avatar bg-light-primary mr-2">
                                    <div class="avatar-content">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            width="14" height="14"
                                            viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            class="feather feather-trending-up avatar-icon">
                                            <polyline
                                                points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline>
                                            <polyline points="17 6 23 6 23 12"></polyline>
                                        </svg>
                                    </div>
                                </div>
                                <div class="media-body my-auto">
                                    <h4 class="font-weight-bolder mb-0">230k</h4>
                                    <p class="card-text font-small-3 mb-0">Sales</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-12 mb-2 mb-md-0">
                            <div class="media">
                                <div class="avatar bg-light-info mr-2">
                                    <div class="avatar-content">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            width="14" height="14"
                                            viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            class="feather feather-user avatar-icon">
                                            <path
                                                d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                            <circle cx="12" cy="7" r="4"></circle>
                                        </svg>
                                    </div>
                                </div>
                                <div class="media-body my-auto">
                                    <h4 class="font-weight-bolder mb-0">8.549k</h4>
                                    <p class="card-text font-small-3 mb-0">Customers</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-12 mb-2 mb-sm-0">
                            <div class="media">
                                <div class="avatar bg-light-danger mr-2">
                                    <div class="avatar-content">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            width="14" height="14"
                                            viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            class="feather feather-box avatar-icon">
                                            <path
                                                d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path>
                                            <polyline
                                                points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                                            <line x1="12" y1="22.08" x2="12"
                                                y2="12"></line>
                                        </svg>
                                    </div>
                                </div>
                                <div class="media-body my-auto">
                                    <h4 class="font-weight-bolder mb-0">1.423k</h4>
                                    <p class="card-text font-small-3 mb-0">Products</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="media">
                                <div class="avatar bg-light-success mr-2">
                                    <div class="avatar-content">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            width="14" height="14"
                                            viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            class="feather feather-dollar-sign avatar-icon">
                                            <line x1="12" y1="1" x2="12" y2="23"></line>
                                            <path
                                                d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                                        </svg>
                                    </div>
                                </div>
                                <div class="media-body my-auto">
                                    <h4 class="font-weight-bolder mb-0">$9745</h4>
                                    <p class="card-text font-small-3 mb-0">Revenue</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
